{% extends "ALSwaggerUIBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/alswaggerui/lib/shred.bundle.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/jquery-1.8.0.min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/jquery.slideto.min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/jquery.wiggle.min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/jquery.ba-bbq.min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/handlebars-4.0.5.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/underscore-min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/backbone-min.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/swagger.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/js/swagger-ui.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/highlight.9.1.0.pack.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/highlight.9.1.0.pack_extended.js') }}"></script>
    <script src="{{ asset('bundles/alswaggerui/lib/swagger-oauth.js') }}"></script>
    <script src='{{ asset('bundles/alswaggerui/lib/object-assign-pollyfill.js')}}' type='text/javascript'></script>
    <script src='{{ asset('bundles/alswaggerui/lib/lodash.min.js')}}' type='text/javascript'></script>
    <script src='{{ asset('bundles/alswaggerui/lib/jsoneditor.min.js')}}' type='text/javascript'></script>
    <script src='{{ asset('bundles/alswaggerui/lib/marked.js')}}' type='text/javascript'></script>
    <script src='{{ asset('bundles/alswaggerui/lib/json-refs-standalone.js')}}' type='text/javascript'></script>

    <script type="text/javascript">
    $(function () {

      hljs.configure({
        highlightSizeThreshold: 5000
      });

      // Pre load translate...
      if(window.SwaggerTranslator) {
        window.SwaggerTranslator.translate();
      }
      window.swaggerUi = new SwaggerUi({
        url: {{ resource_list_url|json_encode|raw }},
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: {{ js_config.supported_submit_methods|json_encode|raw }},
        onComplete: function(swaggerApi, swaggerUi){
          log("Loaded SwaggerUI");

          if(typeof initOAuth == "function") {
            // initOAuth({
            //   clientId: "your-client-id",
            //   clientSecret: "your-client-secret-if-required",
            //   realm: "your-realms",
            //   appName: "your-app-name",
            //   scopeSeparator: " ",
            //   additionalQueryStringParams: {}
            // });
          }

          if(window.SwaggerTranslator) {
            window.SwaggerTranslator.translate();
          }
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "list",
        jsonEditor: true,
        defaultModelRendering: 'schema',
        showRequestHeaders: false,
        showOperationIds: false
      });

      window.swaggerUi.load();

      function log() {
        if ('console' in window) {
          console.log.apply(console, arguments);
        }
      }
  });
    </script>
{% endblock %}
{% block al_swagger_ui_auth_form %}
{% endblock %}
{% block al_swagger_ui_content %}
    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
{% endblock %}
